@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Overpass:wght@100;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,600&display=swap');
:root{
    --bg-color:#FFFFFF;
    --text-color:#202047;
    --sub-text:#B9B9CE;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:var(--bg-color);
    width:100%;
    height:100vh;
    color:var(--text-color);
    font-family:'Inter',sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    overflow:hidden;
    background-image: url('./images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position:left bottom;
}
 .carousel__container{
       position:relative;
       width:80%;
       display:flex;
       flex-direction: column;
       margin:2rem auto;
 }

 .carousel__items{
        display:none;
    
    }
.carousel__items.active{
    display:flex;
    justify-content: center;
    align-items:center;
}
 .carousel__text{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        width:50%;
    }
.main__text{
    position: relative;
    display:flex;
    flex-direction:column;
    }
    .main__text span{
       display: flex;
    }
   
    .main__text img{
        display:flex;
        position:absolute;
        top: 0;
        left:10%;
        width: 120px;
        height: 100px;
    }
     .main__text p{
        margin-top:3rem;
    }
     .sub__text{
        display:flex;
        flex-direction: row;
        column-gap:.8rem;
        align-items: center;
    }
    .sub__text span:nth-child(1){
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
    }
    .sub__text span:nth-child(2){
      font-weight: 500;
    font-size: 20px;
    line-height: 38px;
        color: #B9B9CE;
    }

    .carousel__image{
        display: flex;
        width:50%;
        height: 540px;
        background-image:url('./images/pattern-bg.svg');
        background-repeat: no-repeat;
        background-size:contain;
        background-position:center;
        object-fit: contain;
    }
    .carousel__image span{
        display:flex;
        justify-content:center;
        width:100%;
    }
    .carousel__image span img{  
      width:440px;
      height:440px;
      margin-top: 3rem;
       box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
      border-radius: 5px;
    }
    .carousel__btn{
        display:flex;
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        position: absolute;
        left:60%;
        bottom:25px;
        width: 112px;
        height: 56px;
        background:var(--bg-color);
        box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
        border-radius: 28px;
    }
 .carousel__btn span img{
        display:flex;
        justify-content: center;
        width: 100%;
        height:100%;
        cursor: pointer;
    }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.8s;
  animation-name: fade;
  animation-duration: 1.8s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media screen and (max-width:1024px){
    .carousel__container{
        width:95%;
    }
    .carousel__items.active{
        width:100%;
        flex-direction:row;
      }
}
@media screen and (max-width:665px){
      body{
        font-size:18px;
        font-weight: 300;
        line-height: 24px;
        background-size: 285px 72px;
      }
      .carousel__container{
        width:90%;
      }
      .carousel__items.active{
        width:100%;
        flex-direction: column-reverse;
      }
      .carousel__text{
        width:100%;
      }
      .carousel__image{
        width:100%;
        height:400px;
      }
      .carousel__image span img{
        width: 80%;
        height:80%;
        margin-top: 1rem;
      }
      .main__text{
        position: relative;
        display:flex;
        flex-direction:column;
        text-align:center;
        width:100%;
        margin-top: 1rem;
    }
    .main__text p{
        margin-top: 1.5rem;
    }
    .main__text span{
       display: flex;
       width:100%;
       justify-content: center;
       align-items: center;
    }
   
    .main__text img{
        position:absolute;
        top: 0;
        left:40%;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 50px;
    }
    .sub__text{
        flex-direction: column;
    }
    .sub__text span:nth-child(1){
        font-size: 15px;
        line-height: 20px;
    }
    .sub__text span:nth-child(2){
        font-size: 15px;
        line-height: 20px;
    }
       .carousel__btn{
        row-gap: 1.5rem;
      left:50%;
      top:50%;
      transform: translate(-50%,10%);
      width: 80px;
      height: 40px;
     
    }
    .carousel__btn span img{
        width: 80%;
        height:80%;
    }
}
